.react-select-custom-prefix__control {
  border-radius: 6px !important;
  padding: 0 !important;
  margin: 0;
  &:hover {
    border-color: #40a9ff !important; // FIXME sesuaikan color dengan component antd
  }
}

.react-select-custom-prefix__value-container {
  display: flex !important;
}
